caugetch==0.0.1
certifi==2024.2.2
charset-normalizer==3.3.2
clipboard==0.0.4
colorama==0.4.6
getpass4==0.0.14.1
idna==3.6
pyperclip==1.8.2
python-dotenv==1.0.1
requests==2.31.0
tqdm==4.66.2
urllib3==2.2.0
